/* Nav bar layout */
nav{
  height: 100px;
  width: auto;
  background-color: #802623;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  color: #ffffff;
  font-family: "Bungee", sans-serif;
  font-size: 35px;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Write a new tweet font and button layout*/
.newTweet{
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: none;
  border: none;
  color: #ffffff;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}

/* write a tweet stop pulsating when hover on it */
.newTweet:hover{
  font-weight: bold;
  font-style: italic;
  -webkit-animation: none;
  cursor: pointer;
  opacity: 1;
}

/* arrow down color */
.fa.fa-arrow-circle-o-down{
  color: red;
}
